

.padder-proc-10{padding-left:10%;padding-right: 10%}

.navbar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container{
  max-width: 900px;
}


.block-show-enter-active, .block-show-leave-active  {
  transition: all 360ms linear;
}

.block-show-enter, .block-show-leave-active {
  opacity: 0;
}